#title {
    font-size: 80px;
    min-height: 100%;
    position: relative;
    color: #00F2F2;
    text-align: center;
    text-shadow: 2px 2px #D138BF;
    right: 0px;
}



.u1 {
    position: absolute;
    font-size: medium;
    top: 35%;
    left: 35%;
    width: 170px;
    height: 50px;
    text-align: center;
    padding: 5px;
    background-color: #00F2F2;
}
.p1 {
    position: absolute;
    font-size:medium;
    top: 35%;
    left: 47%;
    width: 170px;
    height: 50px;
    text-align: center;
    padding: 5px;
    background-color: #00F2F2;
}
.btnlog {
    position: absolute;
    font-size: medium;
    top: 35%;
    left: 59%;
    width: 80px;
    height: 50px;
    text-align: center;
    padding: 5px;
    background-color: #00F2F2;
}
.d1 {
    position: absolute;
    top: 25%;
    width: 1500px;
    height: 5px;
    text-shadow: 2px 2px #D138BF;
    text-align: center;
    padding: 5px;
    color: #00F2F2;
}
.d2 {
    position: absolute;
    top: 30%;
    width: 1500px;
    height: 5px;
    text-shadow: 2px 2px #D138BF;
    text-align: center;
    padding: 5px;
    color: #00F2F2;

}
.d3 {
    position: absolute;
    top: 35%;
    width: 1500px;
    height: 5px;
    text-shadow: 2px 2px #D138BF;
    text-align: center;
    padding: 5px;
    color: #00F2F2;
}

.d4 {
    position: absolute;
    top: 40%;
    width: 1500px;
    height: 5px;
    text-shadow: 2px 2px #D138BF;
    text-align: center;
    padding: 5px;
    color: #00F2F2;
}
.headerDiv {
    position:absolute;
    top: 5%;
    background-color: white;
    width: 1500px;
    height: 5px;
}

.footerDiv {
    position: absolute;
    bottom: 0.5%;
    background-color: #5F1A37;
    width: 1500px;
    height: 5px;
    text-align: center;
    color: #947EB0;
}



#LogButton {
    background-color: #6B9AC4;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 40px;
}
#SignButton {
    background-color: #6B9AC4;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 90px;
}
#LogoutButton {
    background-color: #6B9AC4;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 40px;
}

#bodyText {
    position: absolute;
    text-align: center;
    color: #947EB0;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    top: 50%;
    left: 25%;
}

.formText {
    position: absolute;
    text-align: center;
    color: #947EB0;
    top: 40%;
    left: 40%;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.bioText {
    position: absolute;
    text-align: center;
    color: #947EB0;
    top: 40%;
    left: 40%;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}


.formText #messageDiv {
    position: center;
    text-align: center;
    border-width: 300px;
    height: 300px;
    border: 2px dashed;
    border-block-color: #ffff;
}
.formText #usernameSend {
    width: 100px;
    height: 40px;
    color: #A9D2D5;
    background-color: #A3A5C3;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.formText #messageText {
    width: 300px;
    height: 200px;
    color: #A9D2D5;
    background-color: #A3A5C3;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.formText #submitbutton{
    position:absolute;
    top: 100%;
    left:40%;

}
.conversationsDiv {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 40%;
}

    .conversationsDiv li {
        color: #725AC1;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }

    .conversationsDiv pre {
        color: #57E2E5;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }

.bioText #bioDiv {
    position: center;
    border-width: 300px;
    height: 250px;
    border: 2px dashed;
    border-block-color: #ffff;
}
.bioText #bioText {
    width: 300px;
    height: 200px;
    color: #A9D2D5;
    background-color: #A3A5C3;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.bioText #submitbutton {
    position: absolute;
    top: 100%;
    left: 40%;
}
#img {
    position: absolute;
    top: 0%;
    left: 30px;
}
.navBar {
    padding:10px 0;
}

    .navBar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .navBar li {
        float: left;
        border-right: 1px solid #bbb;
    }

    .navBar2 li:last-child {
        margin-right: 0px;
    }

.navBar a {
    color: aqua;
    border-radius: 4px;
    text-align: center;
    padding: 30px 65px;
    text-decoration: none;
}

    .navBar a:hover {
        background-color: #947EB0;
    }

.navBar2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navBar2 li {
    margin-right: 10%;
}

    .navBar2 li:last-child {
        margin-right: 0px;
    }
.navBar2 a {
    color:aqua;
}

body {
    position:center;
    background-image: linear-gradient(to bottom,#5F1A37, #776885,#73C2BE,#73EEDC);
    height: 650px;
}

